@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carrousel"/>

<div>
    <h1 class="display-4">Lanches</h1>
    <a href="/Lanches/Listar">Listar todos</a><br/>
    <a href="/Lanches/Criar">Cadastrar novo</a>
</div>
